In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/train_v2_drcat_02.csv')

In [6]:
data

,text,label,prompt_name,source,RDizzl3_seven
0,Phones\n\nModern humans today are always on th...,0,Phones and driving,persuade_corpus,False
1,This essay will explain if drivers should or s...,0,Phones and driving,persuade_corpus,False
2,Driving while the use of cellular devices\n\nT...,0,Phones and driving,persuade_corpus,False
3,Phones & Driving\n\nDrivers should not be able...,0,Phones and driving,persuade_corpus,False
4,Cell Phone Operation While Driving\n\nThe abil...,0,Phones and driving,persuade_corpus,False
...,...,...,...,...,...
44863,"Dear Senator,\n\nI am writing to you today to ...",1,Does the electoral college work?,kingki19_palm,True
44864,"Dear Senator,\n\nI am writing to you today to ...",1,Does the electoral college work?,kingki19_palm,True
44865,"Dear Senator,\n\nI am writing to you today to ...",1,Does the electoral college work?,kingki19_palm,True
44866,"Dear Senator,\n\nI am writing to you today to ...",1,Does the electoral college work?,kingki19_palm,True
44867,"Dear Senator,\n\nI am writing to you today to ...",1,Does the electoral college work?,kingki19_palm,True

In [10]:
data.groupby(['prompt_name','label']).count()

                                             text  source  RDizzl3_seven
prompt_name                           label
"A Cowboy Who Rode the Waves"         0      1372    1372           1372
                                      1       524     524            524
Car-free cities                       0      2666    2666           2666
                                      1      2051    2051           2051
Cell phones at school                 0      1656    1656           1656
                                      1       463     463            463
Community service                     0      1542    1542           1542
                                      1       550     550            550
Distance learning                     0      2157    2157           2157
                                      1      3397    3397           3397
Does the electoral college work?      0      2714    2714           2714
                                      1      1720    1720           1720
Driverless cars                       0      1886    1886           1886
                                      1       364     364            364
Exploring Venus                       0      1862    1862           1862
                                      1       314     314            314
Facial action coding system           0      2167    2167           2167
                                      1       917     917            917
Grades for extracurricular activities 0      1626    1626           1626
                                      1       490     490            490
Mandatory extracurricular activities  0      1670    1670           1670
                                      1      1407    1407           1407
Phones and driving                    0      1168    1168           1168
                                      1       415     415            415
Seeking multiple opinions             0      1552    1552           1552
                                      1      3624    3624           3624
Summer projects                       0      1750    1750           1750
                                      1       951     951            951
The Face on Mars                      0      1583    1583           1583
                                      1       310     310            310

In [15]:
data.groupby(['source','label']).count()

                                           text  prompt_name  RDizzl3_seven
source                             label
NousResearch/Llama-2-7b-chat-hf    1        400          400            400
chat_gpt_moth                      1       2421         2421           2421
cohere-command                     1        350          350            350
darragh_claude_v6                  1       1000         1000           1000
darragh_claude_v7                  1       1000         1000           1000
falcon_180b_v1                     1       1055         1055           1055
kingki19_palm                      1       1384         1384           1384
llama2_chat                        1       2421         2421           2421
llama_70b_v1                       1       1172         1172           1172
mistral7binstruct_v1               1       2421         2421           2421
mistral7binstruct_v2               1       2421         2421           2421
mistralai/Mistral-7B-Instruct-v0.1 1        400          400            400
palm-text-bison1                   1        349          349            349
persuade_corpus                    0      25996        25996          25996
radek_500                          1        500          500            500
radekgpt4                          1        200          200            200
train_essays                       0       1375         1375           1375
                                   1          3            3              3

In [3]:
# split by topics
val = data.loc[data.prompt_name == 'Distance learning']
train = data.loc[data.prompt_name != 'Distance learning']

In [4]:
from sklearn.preprocessing import LabelEncoder
topic_encoder = LabelEncoder()
source_encoder = LabelEncoder()
train['topics'] = topic_encoder.fit_transform(train['prompt_name'])
train['source'] = source_encoder.fit_transform(train['source'])

/tmp/ipykernel_6785/207901606.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['topics'] = topic_encoder.fit_transform(train['prompt_name'])
/tmp/ipykernel_6785/207901606.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['source'] = source_encoder.fit_transform(train['source'])

In [7]:
len(topic_encoder.classes_),len(source_encoder.classes_)

(14, 17)

In [8]:
val.loc[:,['text','label']].to_csv('data/val_data2.csv',index=False)
train.loc[:,['text','label','source','topics']].to_csv('data/train_data2.csv',index=False)

In [2]:
val_old = pd.read_csv('data/val_data.csv')
train_old = pd.read_csv('data/train_data.csv')

In [3]:
val = pd.read_csv('data/val_data2.csv')
train = pd.read_csv('data/train_data2.csv')

In [ ]:
# join in the score
train_new = pd.merge(train,train_old.loc[:,['text','score']],'left',on='text')
train_new.score = train_new.score.fillna(-1)
train_new.loc[:,['text','label','source','score','topics']].to_csv('data/train_data2.csv',index=False)

In [17]:
train_new.groupby(['score','source']).count()

              text  label  topics
score source
-1.0  0        400    400     400
      1       1591   1591    1591
      2        350    350     350
      3        945    945     945
      4        934    934     934
      5        836    836     836
      6       1384   1384    1384
      7       1905   1905    1905
      8        956    956     956
      9       1647   1647    1647
      10      1701   1701    1701
      11       399    399     399
      12       349    349     349
      14       500    500     500
      15       200    200     200
      16      1378   1378    1378
 1.0  13      1019   1019    1019
 2.0  13      5608   5608    5608
 3.0  13      7982   7982    7982
 4.0  13      6074   6074    6074
 5.0  13      2619   2619    2619
 6.0  13       537    537     537